Source: hudson
Section: devel
Priority: extra
Maintainer: Hudson Community (dev@hudson.java.net)  
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2
Homepage: http://hudson-ci.org/

Package: hudson
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, daemon, adduser, java6-runtime-headless, psmisc
Suggests: default-jdk-headless
Description: Continuous integration system written in Java
 Hudson is an extensible continuous build engine written in Java.
